*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* SPANS */

.up{
    color: #00BFFF;
}

/*----------*/

body{
    background-color: #d5dfff;
    height: 100vh;
}

/* CABEÇALHO */

header{
    background-color: #000000;
    padding: 30px;
}

header h1{
    color: #ffffff;
}

header p{
    color: #ffffff;
}

/* BOTAO SERVICOS */

.button-serv{
    margin: 30px;
    text-align: center;
}

.button-serv a{
    border-radius: 8px;
    background-color: #00BFFF;
    color: #ffffff;
    text-decoration: none;
    padding: 5px;
    font-size: 15pt;
}

/* SOBRE - INDEX */

.about{
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    margin: 15px;
    padding: 10px;
}

.services{
    margin: 13px;
    padding: 15px;
    background-color: white;
    border-radius: 15px;
    display: grid;
    align-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1)
}

.services-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
}

.service-card{
    background-color: #1562ff;
    border-radius: 10px;
    color: white;
    margin: 5px;
    padding: 5px;
}

.jobs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

h5{
    font-size: 12pt;
}
.job-card{
    border-radius: 6px;
    background-color: white;
    padding: 10px;
    margin: 5px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1)
}

.p-card{
    font-size: 12pt;
}

.job-card-button{
    border-radius: 10px;
    padding: 3px;
    border: none;
    background-color: #25D366;
    margin-top: 4px;
    font-size: 12pt;
    text-decoration: none;
    color: black;
}

.job-card-button:hover{
    background-color: #2a5f08;
    transition: .5s;
}



.service-card:hover{
    background-color: #0a257b;
    transition: .5s;
}





/* FOOTER */

footer{
    text-align: center;
    margin-top: 30px;
}
