* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #d5dfff;
    min-height: 100vh;
}

/* Cabeçalho */
header{
    background-color: #1562ff;
    padding: 10px;
}

h1{
    color: white;
    font-size: 22pt;
}

h2{
    color: whitesmoke;
    font-size: 16pt;
}

/* Grid de serviços */

h3{
    margin-bottom: 5px;
}

.services{
    margin: 13px;
    padding: 15px;
    background-color: white;
    border-radius: 15px;
    display: grid;
    align-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1)
}

.services-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
}

.service-card{
    background-color: #1562ff;
    border-radius: 10px;
    color: white;
    margin: 5px;
    padding: 5px;
}

/* Grid de Profissionais */

.professionals{
    
}

h4{
    text-align: center;
}

.jobs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

h5{
    font-size: 12pt;
}
.job-card{
    border-radius: 6px;
    background-color: white;
    padding: 10px;
    margin: 5px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1)
}

.p-card{
    font-size: 12pt;
}

.job-card-button{
    border-radius: 10px;
    padding: 3px;
    border: none;
    background-color: #25D366;
    margin-top: 4px;
    font-size: 12pt;
    text-decoration: none;
    color: black;
}

.job-card-button:hover{
    background-color: #2a5f08;
    transition: .5s;
    font-size: 115%;
}



.service-card:hover{
    background-color: #0a257b;
    transition: .5s;
    font-size: 130%;
}

footer{
    text-align: center;
}

.hidden {
    display: none;
      }
